.example-card {
    margin-left: 20%;
    margin-top: 10px;
    width: 60%;
    padding: 50px;
    text-align: center;
    align-items: center;
}

mat-card-title{
   margin-left: 450px;
}

.example-form{
    margin-left: 390px;
}
