<nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
    <a class="navbar-brand" ><strong style="color: aliceblue;">Online Voting System</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" >LoggedIn As {{username}} <span class="sr-only">(current)</span></a>
        </li> &nbsp; &nbsp;
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['']" ><i class="fa fa-sign-out fa-1x" aria-hidden="true">Logout</i> </a>
        </li>
      </ul>
    </div>
  </nav>



  <div class="main">
  <app-post-form>Post Form is Loading...</app-post-form>
  <app-post-card>Post Card is loding...</app-post-card>
</div>
