<html lang="en" class="full-height">

<!--Main Navigation-->
<header> </header>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
    <a class="navbar-brand" ><strong style="color: aliceblue;">Online Voting System</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/user']">Home <span class="sr-only">(current)</span></a>
        </li> &nbsp;
        <li class="nav-item active">
          <a class="nav-link" href="#">Logout </a>
        </li>
      </ul>
    </div>
  </nav>



  <div class="main">
  <!-- Section: form gradient -->

  <!--Form with header-->
  <div class="card">
    <div class="card-body mx-4">

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="name" class="form-control" placeholder="Enter Your Name" [(ngModel)]="name">
      </div>
      <div class="md-form">
        <i class="fa fa-pencil-square-o prefix grey-text"></i>
        <input type="text" id="title" class="form-control" placeholder="Title Name" [(ngModel)]="title">
      </div>

      <div class="md-form">
        <i class="fa fa-th-large prefix grey-text"></i>
        <input type="text" id="category" class="form-control" placeholder="Category Name" [(ngModel)]="category">
      </div>

      <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <textarea id="form107" class="md-textarea form-control" id="text" rows="5" placeholder="Write Something..." [(ngModel)]="postString"></textarea>
      </div>


      <!--Grid row-->
      <div class="row d-flex align-items-center mb-3 mt-4">

        <!--Grid column-->
        <div class="col-md-12">
          <div class="text-center">
            <button type="button" class="btn btn-success" (click)="addPost()" ><i class="fa fa-send"></i> Post</button>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>

  </div>
  <!--/Form with header-->

<br>

<!-- Post Cards-->
  <div class="container">
      <div class="row">
      <div class="col-md-8">
        <div class="chat_container">
          <div class="job-box">
            <div class="job-box-filter">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                <label>Show 
                <select name="datatable_length" class="form-control input-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                </select>
                Entries</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="filter-search-box text-right">
                    <label>Search:<input type="search" class="form-control input-sm" placeholder=""></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="inbox-message">
              <ul *ngFor ="let post of posts$|async;let i = index">
                <li>
                    <div class="message-avatar">
                      <img [src]= "post.userImage" alt="no found">
                      <h5>{{post.username}} </h5>
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <p><b>{{post.title}}   category by : {{post.category}}</b></p>
                  
                       <p class="time"> {{post.UpdatedOn|date:'medium'}} </p>
                      </div>
                      <p>{{post.postString}}</p>
                      <div class="votebox">
                        <span class="fa fa-arrow-up vote up"
                              (click)="upVote(i)"
                              [ngClass]="{'active' :post.isUpVote}" title="Up Vote">   
                              <span class="vote-count">{{post.upVotesUsers.size}}</span>
                        </span>
                        
                      
                        <span class="fa fa-arrow-down vote down"
                              (click)="downVote(i)"
                              [ngClass]="{'active' : post.isDownVote }" title="Down Vote">
                              <span class="vote-count">-{{post.downVotesUsers.size}}</span>
                      
                        </span>
                      </div>
                    
                    </div>
                    <button class="btn btn-danger btn-sm rounded-0" type="button" id="delete" data-toggle="tooltip" data-placement="top" title="Delete" (click)="deletePost(i)"><i class="fa fa-trash"></i></button>
                </li>
                <hr style="height:2px;border-width:0;color:gray;background-color:gray">
              </ul>
            </div>
          </div>
        </div>       
      </div>      
    </div>   
</div>

</div>
</body>
</html>