.votebox {
    height: 120px;
    width: 120px;
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: 2em;
  
    .vote {
      cursor: pointer;
      &:hover {
        color: orange;
      }
    }
  
    .active.up {
        color: green;
      }
  
    .active.down {
       color: red;
     }
    
    .vote-count{
        font-size:medium;
    }
  
  }


  