
<button name="w_post" id="w_post" (click)="create_post()" class="btn btn-primary"> Add Post </button>

<div class="votebox">
    <span class="fa fa-arrow-up vote up"
          (click)="upvote()"
          [ngClass]="{'active' : userVote > 0 }">
    </span>
    <span class="vote-count">{{voteCount}}</span>
  
    <span class="fa fa-arrow-down vote down"
          (click)="downvote()"
          [ngClass]="{'active' : userVote < 0 }">
  
    </span>
  </div>

    <div class="card text-center">
      <div class="card-header">
        Featured
      </div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted">
        Posted on 1:35 AM
      </div>
    </div>

    <div class="container">
      <div class="row">
      <div class="col-md-8">
        <div class="chat_container">
          <div class="job-box">
            <div class="job-box-filter">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                <label>Show 
                <select name="datatable_length" class="form-control input-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                </select>
                entries</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="filter-search-box text-right">
                    <label>Search:<input type="search" class="form-control input-sm" placeholder=""></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="inbox-message">
              <ul>
                <li>
                    <div class="message-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>Daniel Dock </h5>
                        <span>7 hours ago</span>
                      </div>
                      <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                      <div class="votebox">
                        <span class="fa fa-arrow-up vote up"
                              (click)="upvote()"
                              [ngClass]="{'active' : userVote > 0 }">
                        </span>
                        <span class="vote-count">{{voteCount}}</span>
                      
                        <span class="fa fa-arrow-down vote down"
                              (click)="downvote()"
                              [ngClass]="{'active' : userVote < 0 }">
                      
                        </span>
                      </div>
                    
                    </div>
                </li>
                <li>
                  <a href="#">
                    <div class="message-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>Daniel Dock <span class="unread">Unread</span></h5>
                        <span>7 hours ago</span>
                      </div>
                      <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="message-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>Daniel Dock <span class="pending">Pending Work</span></h5>
                        <span>7 hours ago</span>
                      </div>
                      <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="message-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>Daniel Dock <span class="unread">Unread</span></h5>
                        <span>7 hours ago</span>
                      </div>
                      <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="message-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>Daniel Dock <span class="business">Business</span></h5>
                        <span>7 hours ago</span>
                      </div>
                      <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="message-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>Daniel Dock <span class="important">Important</span></h5>
                        <span>7 hours ago</span>
                      </div>
                      <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <div class="message-avatar">
                      <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>Daniel Dock <span class="unread">Unread</span></h5>
                        <span>7 hours ago</span>
                      </div>
                      <p>Hello, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolor....</p>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>