
<button name="w_post" id="w_post" (click)="create_post()" class="btn btn-primary"> Add Post </button>

<!-- Section: form gradient -->
<section class="form-gradient mb-5">

  <!--Form with header-->
  <div class="card">

    <!--Header-->
    <div class="header peach-gradient">

      <div class="row d-flex justify-content-center">
        <h3 class="white-text mb-0 py-5 font-weight-bold">Contact Us</h3>
      </div>

    </div>
    <!--Header-->

    <div class="card-body mx-4">

      <div class="md-form">
        <i class="fas fa-user prefix grey-text"></i>
        <input type="text" id="form104" class="form-control">
        <label for="form104">Your name</label>
      </div>

      <div class="md-form">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="text" id="form105" class="form-control">
        <label for="form105">Your email</label>
      </div>

      <div class="md-form">
        <i class="fas fa-tag prefix grey-text"></i>
        <input type="text" id="form106" class="form-control">
        <label for="form106">Subject</label>
      </div>

      <div class="md-form">
        <i class="fas fa-pencil-alt prefix grey-text"></i>
        <textarea id="form107" class="md-textarea form-control" rows="5"></textarea>
        <label for="form107">Your message</label>
      </div>


      <!--Grid row-->
      <div class="row d-flex align-items-center mb-3 mt-4">

        <!--Grid column-->
        <div class="col-md-12">
          <div class="text-center">
            <button type="button" class="btn btn-grey btn-rounded z-depth-1a">Send</button>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>

  </div>
  <!--/Form with header-->

</section>

<!-- Post Cards-->
    <div class="container">
      <div class="row">
      <div class="col-md-8">
        <div class="chat_container">
          <div class="job-box">
            <div class="job-box-filter">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                <label>Show 
                <select name="datatable_length" class="form-control input-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                </select>
                Entries</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="filter-search-box text-right">
                    <label>Search:<input type="search" class="form-control input-sm" placeholder=""></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="inbox-message">
              <ul *ngFor ="let post of posts">
                <li>
                    <div class="message-avatar">
                      <img [src]= "post.userImage" alt="no found">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>{{post.username}} </h5>
                        <span>{{post.Updatedon}} hours ago</span>
                      </div>
                      <p>{{post.postString}}</p>
                      <div class="votebox">
                        <span class="fa fa-arrow-up vote up"
                              (click)="upvote()"
                              [ngClass]="{'active' : post.upvote }">
                        </span>
                        <span class="vote-count"> Total UpVotes  {{post.totalUpVotes}}</span>
                      
                        <span class="fa fa-arrow-down vote down"
                              (click)="downvote()"
                              [ngClass]="{'active' : post.downvote }">
                      
                        </span>
                      </div>
                    
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>