<html lang="en" class="full-height">

<!--Main Navigation-->
<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark indigo">
    <a class="navbar-brand" ><strong style="color: aliceblue;">Online Voting System</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/user']">Home <span class="sr-only">(current)</span></a>
        </li> &nbsp;
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="view intro-2">
    <div class="full-bg-img">
      <div class="mask rgba-black-light flex-center">
        <div class="container text-center white-text">
          <div class="white-text text-center wow fadeInUp">
            <h2>This Navbar is fixed</h2>
            <h5>It will always stay visible on the top, even when you scroll down</h5>
            <br>
            <p>Full page intro with background image will be always displayed in full screen mode, regardless
              of device </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</header>


<div class="main">
<!-- Section: form gradient -->

  <!--Form with header-->
  <div class="card">
    <div class="card-body mx-4">

      <div class="md-form">
        <i class="fa fa-user prefix grey-text"></i>
        <input type="text" id="form104" class="form-control" placeholder="Enter Your Name">
      </div>

      <div class="md-form">
        <i class="fa fa-pencil-square-o prefix grey-text"></i>
        <input type="text" id="form105" class="form-control" placeholder="Title Name">
      </div>

      <div class="md-form">
        <i class="fa fa-th-large prefix grey-text"></i>
        <input type="text" id="form106" class="form-control" placeholder="Category Name">
      </div>

      <div class="md-form">
        <i class="fa fa-pencil prefix grey-text"></i>
        <textarea id="form107" class="md-textarea form-control" rows="5" placeholder="Write Something..."></textarea>
      </div>


      <!--Grid row-->
      <div class="row d-flex align-items-center mb-3 mt-4">

        <!--Grid column-->
        <div class="col-md-12">
          <div class="text-center">
            <button type="button" class="btn btn-success"><i class="fa fa-send"></i> Post</button>
          </div>
        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->
    </div>

  </div>
  <!--/Form with header-->

<br>

<!-- Post Cards-->
  <div class="container">
      <div class="row">
      <div class="col-md-8">
        <div class="chat_container">
          <div class="job-box">
            <div class="job-box-filter">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                <label>Show 
                <select name="datatable_length" class="form-control input-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>
                </select>
                Entries</label>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="filter-search-box text-right">
                    <label>Search:<input type="search" class="form-control input-sm" placeholder=""></label>
                  </div>
                </div>
              </div>
            </div>
            <div class="inbox-message">
              <ul *ngFor ="let post of posts">
                <li>
                    <div class="message-avatar">
                      <img [src]= "post.userImage" alt="no found">
                    </div>
                    <div class="message-body">
                      <div class="message-body-heading">
                        <h5>{{post.username}} </h5>
                        <span>{{post.Updatedon}} hours ago</span>
                      </div>
                      <p>{{post.postString}}</p>
                      <div class="votebox">
                        <span class="fa fa-arrow-up vote up"
                              (click)="upvote()"
                              [ngClass]="{'active' : post.upvote }">   
                              <span class="vote-count">{{post.totalUpVotes}}</span>
                        </span>
                        
                      
                        <span class="fa fa-arrow-down vote down"
                              (click)="downvote()"
                              [ngClass]="{'active' : post.downvote }">
                              <span class="vote-count">{{post.totalDownVotes}}</span>
                      
                        </span>
                      </div>
                    
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

</div>